{% block clever_reach_autoConfig_error %}
    <div>
        <clever-reach-banner :button-text2="buttonText"/>
        <clever-reach-content-window-wrapper>
            <clever-reach-error :error-title="errorTitle"
                                :error-message="errorMessage"
                                :error-description="errorDescription"/>
        </clever-reach-content-window-wrapper>
    </div>
{% endblock %}