{% block clever_reach_autoConfig %}
    <div>
        <clever-reach-banner/>
        <clever-reach-container>
            <clever-reach-spinner></clever-reach-spinner>
            <sw-label variant="neutral" class="cr-auto-config">
                {{ $tc('clever-reach.autoConfiguration.configuration') }}
            </sw-label>
        </clever-reach-container>
    </div>
{% endblock %}