Redirect 301 /sortiment/ordnung-und-sauberkeit/reiniger-und-reinigungsgeraete/ /sortiment/haushalt-reparieren-und-renovieren/ordnung-und-sauberkeit/reinigungsgeraete-und-abfallentsorgung/
Redirect 301 /sortiment/ordnung-und-sauberkeit/behaeltnisse/ /sortiment/haushalt-reparieren-und-renovieren/ordnung-und-sauberkeit/werkstatteinrichtung-und-organisation/
Redirect 301 /sortiment/ordnung-und-sauberkeit/besen-und-buersten/ /sortiment/haushalt-reparieren-und-renovieren/ordnung-und-sauberkeit/reinigungsgeraete-und-abfallentsorgung/
Redirect 301 /sortiment/ordnung-und-sauberkeit/pflege-und-entsorgung/ /sortiment/haushalt-reparieren-und-renovieren/ordnung-und-sauberkeit/reiniger-und-pflegemittel/
Redirect 301 /sortiment/ordnung-und-sauberkeit/insektenschutz/ /sortiment/haushalt-reparieren-und-renovieren/waerme-kaelte-und-insektenschutz/
Redirect 301 /sortiment/ordnung-und-sauberkeit/autopflege/ /sortiment/haushalt-reparieren-und-renovieren/farben-abseits-der-wand/schutz-und-versiegelung/
Redirect 301 /sortiment/ordnung-und-sauberkeit/ /sortiment/haushalt-reparieren-und-renovieren/ordnung-und-sauberkeit/

Redirect 301 /sortiment/heizung-und-sanitaer/brausen-schlaeuche-und-zubehoer/ /sortiment/baustoffe-und-installationsmaterial/sanitaer/
Redirect 301 /sortiment/heizung-und-sanitaer/sanitaerzubehoer/ /sortiment/baustoffe-und-installationsmaterial/sanitaer/
Redirect 301 /sortiment/heizung-und-sanitaer/installationsmaterial/ /sortiment/baustoffe-und-installationsmaterial/sanitaer/
Redirect 301 /sortiment/heizung-und-sanitaer/isolation/ /sortiment/baustoffe-und-installationsmaterial/sanitaer/
Redirect 301 /sortiment/heizung-und-sanitaer/ /sortiment/baustoffe-und-installationsmaterial/sanitaer/

Redirect 301 /sortiment/bauchemie/fliesenkleber/ /sortiment/baustoffe-und-installationsmaterial/bauchemie/fliesenkleber-und-fugenmoertel/
Redirect 301 /sortiment/bauchemie/beschichtungen/ /sortiment/baustoffe-und-installationsmaterial/bauchemie/abdichtungen-und-schaeume/
Redirect 301 /sortiment/bauchemie/grundierung/ /sortiment/baustoffe-und-installationsmaterial/bauchemie/grundierungen-und-zusaetze/
Redirect 301 /sortiment/bauchemie/reparatur-und-renovieren/ /sortiment/baustoffe-und-installationsmaterial/bauchemie/abdichtungen-und-schaeume/
Redirect 301 /sortiment/bauchemie/dichtstoffe/ /sortiment/baustoffe-und-installationsmaterial/bauchemie/abdichtungen-und-schaeume/
Redirect 301 /sortiment/bauchemie/fugenmoertel/ /sortiment/baustoffe-und-installationsmaterial/bauchemie/fliesenkleber-und-fugenmoertel/
Redirect 301 /sortiment/bauchemie/klebtechnik-und-klebebaender/ /sortiment/baustoffe-und-installationsmaterial/bauchemie/sonstige-baukleber/
Redirect 301 /sortiment/bauchemie/schaeume/ /sortiment/baustoffe-und-installationsmaterial/bauchemie/abdichtungen-und-schaeume/
Redirect 301 /sortiment/bauchemie/ /sortiment/baustoffe-und-installationsmaterial/bauchemie/

Redirect 301 /sortiment/malerbedarf/tapeten-und-zubehoer/ /sortiment/haushalt-reparieren-und-renovieren/innenwandgestaltung/tapeten/
Redirect 301 /sortiment/malerbedarf/kreppbaender/ /sortiment/haushalt-reparieren-und-renovieren/innenwandgestaltung/kreppbaender/
Redirect 301 /sortiment/malerbedarf/abdeckfolien-und-malervlies/ /sortiment/baustelle-arbeitssicherheit-und-schutz/baustelleneinrichtung/
Redirect 301 /sortiment/malerbedarf/malerwerkzeug/ /sortiment/werkzeuge-maschinen-und-zubehoer/malerarbeiten/
Redirect 301 /sortiment/malerbedarf/lasuren/ /sortiment/haushalt-reparieren-und-renovieren/farben-abseits-der-wand/holzfarben-und-lasuren/
Redirect 301 /sortiment/malerbedarf/lacke-und-zubehoer/ /sortiment/haushalt-reparieren-und-renovieren/farben-abseits-der-wand/lacke/
Redirect 301 /sortiment/malerbedarf/farben-und-zubehoer/ /sortiment/haushalt-reparieren-und-renovieren/innenwandgestaltung/wandfarben/
Redirect 301 /sortiment/malerbedarf/ /sortiment/haushalt-reparieren-und-renovieren/innenwandgestaltung/

Redirect 301 /sortiment/werkzeug/saegen/ /sortiment/werkzeuge-maschinen-und-zubehoer/sonstiges/trennen-saegen-fraesen-schleifen-und-feilen/
Redirect 301 /sortiment/werkzeug/fliesenwerkzeug/ /sortiment/werkzeuge-maschinen-und-zubehoer/rohbau-verputzen-trockenbau-fliesenlegen/
Redirect 301 /sortiment/werkzeug/handwerkzeug/ /sortiment/werkzeuge-maschinen-und-zubehoer/sonstiges/
Redirect 301 /sortiment/werkzeug/kellen-und-spachteln/ /sortiment/werkzeuge-maschinen-und-zubehoer/rohbau-verputzen-trockenbau-fliesenlegen/
Redirect 301 /sortiment/werkzeug/messtechnik/ /sortiment/werkzeuge-maschinen-und-zubehoer/sonstiges/messtechnik/
Redirect 301 /sortiment/werkzeug/schleifwerkzeug/ /sortiment/werkzeuge-maschinen-und-zubehoer/sonstiges/trennen-saegen-fraesen-schleifen-und-feilen/
Redirect 301 /sortiment/werkzeug/schraubwerkzeug/ /sortiment/werkzeuge-maschinen-und-zubehoer/sonstiges/bohren-meisseln-schrauben-und-zwingen/
Redirect 301 /sortiment/werkzeug/tacker-und-klammern/ /sortiment/werkzeuge-maschinen-und-zubehoer/sonstiges/tacker/
Redirect 301 /sortiment/werkzeug/werkzeugzubehoer/ /sortiment/werkzeuge-maschinen-und-zubehoer/sonstiges/
Redirect 301 /sortiment/werkzeug/ /sortiment/werkzeuge-maschinen-und-zubehoer/

Redirect 301 /sortiment/garten-und-grillen/gartenwerkzeuge/ /sortiment/werkzeuge-maschinen-und-zubehoer/garten/
Redirect 301 /sortiment/garten-und-grillen/gartenbewaesserung/ /sortiment/garten-und-freizeit/gartenbewaesserung/
Redirect 301 /sortiment/garten-und-grillen/grillen/ /sortiment/garten-und-freizeit/grillen/
Redirect 301 /sortiment/garten-und-grillen/ /sortiment/garten-und-freizeit/

Redirect 301 /sortiment/elektro/installation/ /sortiment/baustoffe-und-installationsmaterial/elektro/
Redirect 301 /sortiment/elektro/druckerpatronen/ /sortiment/haushalt-reparieren-und-renovieren/farben-abseits-der-wand/druckerpatronen/
Redirect 301 /sortiment/elektro/ /sortiment/baustoffe-und-installationsmaterial/elektro/

Redirect 301 /sortiment/arbeitsschutz-und-ladungssicherung/overalls/ /sortiment/baustelle-arbeitssicherheit-und-schutz/overalls/
Redirect 301 /sortiment/arbeitsschutz-und-ladungssicherung/handschuhe/ /sortiment/baustelle-arbeitssicherheit-und-schutz/handschutz/
Redirect 301 /sortiment/arbeitsschutz-und-ladungssicherung/ladungssicherung/ /sortiment/baustelle-arbeitssicherheit-und-schutz/ladungssicherung/
Redirect 301 /sortiment/arbeitsschutz-und-ladungssicherung/persoenliche-schutzausruestung/ /sortiment/baustelle-arbeitssicherheit-und-schutz/persoenliche-schutzausruestung/
Redirect 301 /sortiment/arbeitsschutz-und-ladungssicherung/ /sortiment/baustelle-arbeitssicherheit-und-schutz/

Redirect 301 /sortiment/baustelleneinrichtung/baustellenabgrenzung/ /sortiment/baustelle-arbeitssicherheit-und-schutz/baustelleneinrichtung/
Redirect 301 /sortiment/baustelleneinrichtung/folien-und-abdeckungen/ /sortiment/baustelle-arbeitssicherheit-und-schutz/baustelleneinrichtung/
Redirect 301 /sortiment/baustelleneinrichtung/markierspray-und-beschriftung/ /sortiment/baustelle-arbeitssicherheit-und-schutz/baustelleneinrichtung/
Redirect 301 /sortiment/baustelleneinrichtung/ /sortiment/baustelle-arbeitssicherheit-und-schutz/baustelleneinrichtung/

Redirect 301 /sortiment/putze-und-kalke/grundputze/ /sortiment/baustoffe-und-installationsmaterial/wandfarben-putze-und-kalke/grundputze/
Redirect 301 /sortiment/putze-und-kalke/oberputze-und-farben/ /sortiment/baustoffe-und-installationsmaterial/wandfarben-putze-und-kalke/oberputze/
Redirect 301 /sortiment/putze-und-kalke/untergrundvorbereitung/ /sortiment/baustoffe-und-installationsmaterial/wandfarben-putze-und-kalke/untergrundvorbereitung/
Redirect 301 /sortiment/putze-und-kalke/ergaenzende-produkte/ /sortiment/baustoffe-und-installationsmaterial/wandfarben-putze-und-kalke/ergaenzende-produkte/
Redirect 301 /sortiment/putze-und-kalke/ /sortiment/baustoffe-und-installationsmaterial/wandfarben-putze-und-kalke/

Redirect 301 /sortiment/befestigungstechnik-und-eisenwaren/duebel/ /sortiment/baustoffe-und-installationsmaterial/befestigung/duebel/
Redirect 301 /sortiment/befestigungstechnik-und-eisenwaren/rohrschellen/ /sortiment/baustoffe-und-installationsmaterial/befestigung/schrauben-und-schellen/
Redirect 301 /sortiment/befestigungstechnik-und-eisenwaren/naegel/ /sortiment/baustoffe-und-installationsmaterial/befestigung/naegel-und-stifte/
Redirect 301 /sortiment/befestigungstechnik-und-eisenwaren/unterlegscheiben-und-muttern/ /sortiment/baustoffe-und-installationsmaterial/befestigung/muttern-und-unterlegscheiben/
Redirect 301 /sortiment/befestigungstechnik-und-eisenwaren/gewindestangen/ /sortiment/baustoffe-und-installationsmaterial/befestigung/gewindestangen/
Redirect 301 /sortiment/befestigungstechnik-und-eisenwaren/lochplatten-winkel-und-verbinder/ /sortiment/baustoffe-und-installationsmaterial/befestigung/lochplatten-winkel-verbinder-und-balkenschuhe/
Redirect 301 /sortiment/befestigungstechnik-und-eisenwaren/schrauben/ /sortiment/baustoffe-und-installationsmaterial/befestigung/schrauben-und-schellen/
Redirect 301 /sortiment/befestigungstechnik-und-eisenwaren/pfostentraeger-und-balkenschuhe/ /sortiment/baustoffe-und-installationsmaterial/befestigung/lochplatten-winkel-verbinder-und-balkenschuhe/
Redirect 301 /sortiment/befestigungstechnik-und-eisenwaren/ /sortiment/baustoffe-und-installationsmaterial/befestigung/

Redirect 301 /sortiment/maschinen-und-zubehoer/trennscheiben/ /sortiment/werkzeuge-maschinen-und-zubehoer/sonstiges/trennen-saegen-fraesen-schleifen-und-feilen/
Redirect 301 /sortiment/maschinen-und-zubehoer/elektromaschinen/ /sortiment/werkzeuge-maschinen-und-zubehoer/sonstiges/
Redirect 301 /sortiment/maschinen-und-zubehoer/lochsaegen-und-bohrkronen/ /sortiment/werkzeuge-maschinen-und-zubehoer/sonstiges/bohren-meisseln-schrauben-und-zwingen/
Redirect 301 /sortiment/maschinen-und-zubehoer/kettensaegen-und-zubehoer/ /sortiment/werkzeuge-maschinen-und-zubehoer/forstarbeiten/
Redirect 301 /sortiment/maschinen-und-zubehoer/bohrer-und-meissel/ /sortiment/werkzeuge-maschinen-und-zubehoer/sonstiges/bohren-meisseln-schrauben-und-zwingen/
Redirect 301 /sortiment/maschinen-und-zubehoer/bits-und-zubehoer/ /sortiment/werkzeuge-maschinen-und-zubehoer/sonstiges/bohren-meisseln-schrauben-und-zwingen/
Redirect 301 /sortiment/maschinen-und-zubehoer/ /sortiment/werkzeuge-maschinen-und-zubehoer/sonstiges/

# BEGIN Shopware
# The directives (lines) between "# BEGIN Shopware" and "# END Shopware" are dynamically generated. Any changes to the directives between these markers will be overwritten.

DirectoryIndex index.php

<IfModule mod_negotiation.c>
    Options -MultiViews
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_URI}::$1 ^(/.+)/(.*)::\2$
    RewriteRule ^(.*) - [E=BASE:%1]

    # Sets the HTTP_AUTHORIZATION header removed by Apache
    RewriteCond %{HTTP:Authorization} .
    RewriteRule ^ - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    RewriteCond %{ENV:REDIRECT_STATUS} ^$
    RewriteRule ^index\.php(?:/(.*)|$) %{ENV:BASE}/$1 [R=301,L]

    # If the requested filename exists, simply serve it.
    # We only want to let Apache serve files and not directories.
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]

    # Rewrite all other queries to the front controller.
    RewriteRule ^ %{ENV:BASE}/index.php [L]
</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        RedirectMatch 302 ^/$ /index.php/
    </IfModule>
</IfModule>

<IfModule mod_headers.c>
    <FilesMatch "\.(?i:svg)$">
        Header set Content-Security-Policy "script-src 'none'"
    </FilesMatch>
</IfModule>

# END Shopware