{% block clever_reach_content_window_wrapper %}
    <div class="clever-reach-content-window-wrapper">
        <slot>
            {% block clever_reach_container_slot %}{% endblock %}
        </slot>
    </div>
{% endblock %}