{% sw_extends '@Storefront/storefront/layout/header/logo.html.twig' %}

{% block layout_header_logo_inner %}
    {{parent()}}
    <div class="delivery-info">kostenfreier Paketversand ab <span>100 €</span> Warenwert</div>
{% endblock %}
