{% sw_extends '@Framework/documents/storno.html.twig' %}

{% block document_side_info_contents %}
    {% block document_side_info_cancellation_date %}
        <tr>
            <td>
                {{ 'document.stornoDate'|trans({'%date%': config.documentDate|format_date('medium', locale=locale)})|sw_sanitize }}
            </td>
        </tr>
    {% endblock %}
    {% block document_side_info_customer_number %}
        <tr>
            <td>
                {{ 'document.customerNumber'|trans({'%customerNumber%': customer.customerNumber})|sw_sanitize }}
            </td>
        </tr>
    {% endblock %}
    {% block document_side_info_order_number %}
        <tr>
            <td>
                {{ 'document.orderNumber'|trans({'%orderNumber%': order.orderNumber | u.truncate(10)})|sw_sanitize }}
            </td>
        </tr>
    {% endblock %}
    {% block document_side_info_order_date %}
        <tr>
            <td>
                {{ 'document.orderDate'|trans({'%orderDate%': order.orderDateTime|format_date('medium', locale=locale)})|sw_sanitize }}
            </td>
        </tr>
    {% endblock %}
{% endblock %}

