{% block sw_import_export_activity_listing_actions_download_file %}
    <a
        class="sw-import-export-activity__download-action"
        @click="openDownload(item.fileId)"
    >
        <sw-context-menu-item>
            {{ $tc('sw-import-export.activity.contextMenu.downloadFile') }}
        </sw-context-menu-item>
    </a>
{% endblock %}

{% block sw_import_export_activity_listing_actions_download_invalid %}
    <template v-if="item.invalidRecordsLog">
        <a
            class="sw-import-export-activity__download-action"
            @click="openDownload(item.invalidRecordsLog.fileId)"
        >
            <sw-context-menu-item>
                {{ $tc('sw-import-export.activity.contextMenu.downloadInvalidFile') }}
            </sw-context-menu-item>
        </a>
    </template>
{% endblock %}
