{% block clever_reach_welcome %}
    <div>
        <clever-reach-banner/>
        <clever-reach-container class="cr-welcome">
            <clever-reach-iframe :type="type"/>
        </clever-reach-container>
    </div>
{% endblock %}
